.x-top-title {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 120%;
	font-weight: bold;
	vertical-align: middel;
	padding: 5px;
	background-color: #232323;
	color: white
}
.x-top-author {
	font-size: 72%;
	color: #757575;
	float: right;
	bottom: 0
}
.x-top-author a {
	color: #cecee7;
	text-decoration: none;
}
.x-resultpanel {
	background: none
}
.x-resultpanel-body-default-framed {
	border-color: #99bce8;
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	padding: 4px 4px 4px 4px;
}

.x-na-flag {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAANCAIAAADTzFK5AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAALISURBVDhPbVPLS1RRGD+vuc955Ntok5MtakbFwIWPlRhBS6MCxYgWZn9DtCiCFtGux6oHklHqpo2EBBI9HLIsKtGIsl0jNKjTzPW+zjl9516NoL65fPN993znd3/fd34HZztHfzkiaSWqTmCazA84xphR6ruesOwz/sqgvxq0dx6afiQqVUwIwlhyzpLJn3Nz7/v7GTWQlBhJF2PCBWmoyzBNr61NGbqZSSXTyaRpGPX1NdILdg8Ndc3OZMfOOq8XLHhvWaZpWratIWQbhoGQIYQuhCGkLiTBGHEuABu8kAKcMinDIKS2VRyfWBo8vjI08nnsnFve9DY2EEIiDJWHIvBACTxCwI0ghOEHFv2pB9agEcwIr1SbTw3nZh7vv3V9693im84u2AKLJJFQG6I4qt42QighBNPIM0ooRYwCDqISaen02vj9pcNHV89fgC/X9PWGYVgqFMrLy5DCHgUQ8YiNeDDjUPheyDn3fZ8HIgggCLmU1dJ6w8hw7umTliuXoTR0qh8Gjix2d3+9eAnakSGPIf4Ya2yudVyZSVmOG1g6C0IOjTOGfS9obNlTnpz6+ODqhhsyopWmpwhiwMPI7lVbJZCLG902NnnttG1bQApOQQ0z5gzHjDGXyA5PGnqi/Glp+dgJZqS4W6G6lcq1qxoM5KL6GE4i/Pxg3pQqBfdX7zBTlXIIKBNOdevbF6ChpWs6Xjzb1dYGFesvXy329QJfKVSlB1yKCwu2aYIM4OyiT0QgKo4zQXXd+b5anHgoqhXa1JS/eUN6Pta1/2DN5dtNhHdajyBUoEwlmMggwI11B+7czuxrVZLiHNQPT4xFiQ5Kg0oXsNYKBdAySDSG+ddATVvFH4DfMDAAc1SUI785P/+2p4dhTao7hDwY8Gy+w4yEu0NJ1UaBMkywcD2tNZu7dxfkBpcD1uP7WIruI6UGYBEpXYJ/A2PlXg38dY8TAAAAAElFTkSuQmCC);
}

.x-jp-flag {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAARCAIAAACn2JBZAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADuSURBVDhPY/z//z8DlQATlKYGoKZZBPz4/sDp9wfO/Hr+mk1SVCrBn0NBCiqBDeA06+/X73drJj+btebvtx9QIQYG2YIYtf4yKAcD4PTjg5ZZjycsQTYICIAi9+qnQjkYALu7fjx4dtIw9M+Hz1A+KrC+vwOrZ7G76/WGfbgMAgKgLJSFCrCb9Ru3QUCASxa7WdyaSlAWNsCJIzaxmyXsbgVlYQAWAV5BB1MoBxVgNwuoARj9UA4qkMSdyrCbBQTAdIRmHBMnO1BEuTkHyscABNL95ws3gbH249FzDjlJ0QAnXgN1qAQ2MPzLCQYGAA1VWWrPgTWbAAAAAElFTkSuQmCC);
}

.x-add-icon {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIcAAD2GNUKNNkOPOESMO0WNPEmPP0iNQUmPQlOVTFWWTVCZQVeeRV6cVmGeWGSgVWSgV2aiWGejW2WrVWirU2uqWGqsW2yqWm61WG+1WG+1WXS3W3S3XHC4WXK5W3O6XHG+X3asZ3iuaHe8YHi0ZH+yany6ZH28Zn2+Z3m9bn25an25a3+5bXDBY3nBZHrGa3zDa37BaX7Hb4K1boO1boa3cYi4d4y7doq5eYm+eI2+e5O/f4HMdYbJeobJfIXNeYrCeY/CfYnIf4rPfZW/gozLgY7MhI7Sg5LFgJXAgpfHhZfMhZPNiJjLhpjMh5jMipvBl5vBmJTTipbTiZXUipbUi5fVi5nRi53YkqTOlKbPlqbQlqDZlaDZlqXbm6rUnavUnKbIoKfJoa/fpa/fprPZpbTZpbTaprLbqLPdqbXbqLfaqrTdqrXfrLbdrLjVr7jdr7vcr7rWsbzVubfgr77itr3ktsTcuMXducnexMrexcXowMvmw8zgxs3gx87pydTrz9fu0tnp0dzx2ODy3OPt4ePu4ufw5ejx5uvz6e/27P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAMAAIsALAAAAAAQABAAAAjGABcJHEiwoME7SGjIuBHHoMBAOrDs+ePnzYoQfQoGsgFnUJ0uXMTo+QEhD0EdagRdWVKEyhQjc1REGGgnCaAtUYIoUuTjRQw2C8IIHNJmDJEeKHZWEOHBypEGAmfQqcJjp1VFHGB4KSCQBBohO67u5HDiywCBNZxIccFCwlgOHZTkSCDQzYQ1LT6IGHthgxkBTwaCSHGGKYcMGDSQsXCAIB8HI9I0MVGCSRkKAOQUxPNAARAtWXAEMKDZIRgGBQgggOKwtcGAADs=);
}
.x-del-icon {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIcAAMAAAMEEBMQQEMUUFMccHMkkJM00NM88PNRQUNVUVNlkZNpoaNxwcN10dOSQkOecnOmkpOuwsO24uO68vO/AwPDExPHIyPLMzPXY2Pfg4Pjk5Pno6Pvw8Pz09P34+P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAMAAB8ALAAAAAAQABAAAAiSAD8IHNiBAoUOAxMOjGAAgMMAByoo/LABAQACDSA8YCAAgAKEAy0u4JBQg0MGCwE0mOgQQIALAg0UADmwpYYBCT50AOBAYUuBDAZ8oABgQsKfAh8AyCChaE2HCZVi4MBTINKBQWPOvCrwZs4PEVoCmJjgZUiHJAdqSAAA5cCKFzNu7PhxIsOWECVOJCjBgoeJAQEAOw==);
}
.x-copy-icon {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAJEAAKKiov///////wAAACH5BAUUAAIALAAAAAAQABAAAAIylI9pwN0qQJg0AChdxpVelWniUkmdRTqW+pmTW5Le2qCRdtpJWH977kPAPBgRA4I0FAAAOw==);
}
.x-save-icon {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQANUAAAAAAP///8vM0SkxQ0NLXD5FVVJhe0lVa9Xb5FdwkYm77LHX/Lvc/eXt9eLp8Ozx9vL2+pXK/J7O+6TR+6vU+7ba/MDf/d7n73aXtIivyJrA1nKsLXqzM4C4OH62N4S8O4nAP4vAQI/ERJDFRZLHR5XJSJbKSpfLS////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACgALAAAAAAQABAAAAaZQJRwSCwOA5tNQJPJYJ6YwDFwKgWujWxDkZCiNiaSCKS0mCEKrnAzCn08ZQYDQjcIrx3ONWBhVCoLEHYoGkhlfX8LFIJCGXsBcoCKiweNEGZ+gBQUExMNlSgYD5ianBMSDQRCopGTnRISDqqhD5mKrxERFwWrEH6usLkPvCgJCBAPWQ7LDhcPAgNDCdMGBgcHBAQFBdFG3kRBADs=);
}
.x-load-icon {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQANUAAAAAAP///ykxQ0NLXD5FVVJhe0lVa9DU21dwkcbi/uTs9O3z+fP2+Ym765fL/KDP+anT+7TZ/HWVsYiux5rA1qjL3tnn767S42OPRW6aUn6wWJDLV53bYKbnZorAVZfTW////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACAALAAAAAAQABAAAAagQJBwSCwOL5cKhTKZSJ6SwNGiyFgziqqigZCCLtWO+GPFLBpcYQXD5nA+no95wSgIKZhEgr3pYyIRdSABFAx6ex8bHn8QgmyPkGwQjQYgGGIdf4ARkxAPCpWXHRxsgBiTD58DlqNvG4+eDw4KqxgaGol9GbEODhYEIBkBDFe7qb0OC8ABCAcMC1nRChYLBwJCEgjaBQUGBgMDBATXRuVEQQA7);
}
.x-rename-icon {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAKUAAAQCBJSSlERCRMzKzCQiJGRiZOTm5BQSFKyurNza3HRydFxaXDQ2NLy6vAwKDExKTNTS1CwqLGxqbPT29BwaHJyenOTi5Hx6fMTCxAQGBERGRMzOzCQmJGRmZOzq7BQWFLSytNze3FxeXDw6PLy+vAwODExOTNTW1CwuLGxubPz+/BweHKSmpHx+fP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAC4ALAAAAAAQABAAAAaWQJdw6Kp8IpdNgbCCEIcsCmAKyBBOT6KHAUhNslkFADG8iEQLtDohHp0vDpNknpLUQ2JTyuRwkAwbEIEbQmIgLiQOGSQtVFNCKQCHJBkOGBeOAIWSiH0kISShJBiQnJQOCxcXLS2rFxZiqQsOEia2Dya4DydiKCYaEmBDhsJEExoAFyrFCBEOVAcMCWABGSsdICYHJQNBADs=);
}
.x-changelog-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAwUlEQVQ4y7WRsQ6CMBRFb3nOJDp3wB9wZzKu/A0jWz+G//ArSNxk6ICQODRs8IITidRKIcpNOryX3pt7WuBHifchTdMTEe3tS1VV3fI8f3jTtNad1nqwT9u2d6VU5PLsPPOoKMuyK4CLUqpcYvhkFcIZIiyEwWVmZgRBMAaVUsrjqgZENMHxIhRFAQAwxkz2cRx7H3G1tgmo6xoA0DTN9giLvtGWlFI4GzBzT0SzrZi5/4qQJMk5DMPDXIAx5ol/6gWd61LFfmwrKgAAAABJRU5ErkJggg==);
}
.x-campaign-up input {
	color: #F00;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.x-cost-icon {
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIIAAAAAALGFSYpoOYAAAP//AP///wAAAAAAACH5BAEAAAUALAAAAAAQABAAAAhzAAsIFAigoMGCAwcWDMCwoQABABICaEiR4cOIBSY+tPiw48WMGyl6vAhAQEWHHQ2GDDCgJUeSJhkaZImy4MaSDQe8jKjyIEuPGDMetFkSokKIBQkQKGkwYUalByG2HKBwKMGIVKkCgLp1aUKqVa86LUA1IAA7);
}
.x-cost-drag-icon {
	float: left;
	width: 16px;
	height: 16px;
	border: 0;
	padding: 0;
	margin: 0;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIIAAAAAALGFSYpoOYAAAP//AP///wAAAAAAACH5BAEAAAUALAAAAAAQABAAAAhzAAsIFAigoMGCAwcWDMCwoQABABICaEiR4cOIBSY+tPiw48WMGyl6vAhAQEWHHQ2GDDCgJUeSJhkaZImy4MaSDQe8jKjyIEuPGDMetFkSokKIBQkQKGkwYUalByG2HKBwKMGIVKkCgLp1aUKqVa86LUA1IAA7);
}
.x-recommend-menu-icon {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAIcAAAAAADVJYjNmzED/QGuE96LB9dzr/v///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAMAAAMALAAAAAAQABAAAAhyAAcMEECwYEGBCAUKKMCwYQEBCREuBECR4sOIChtavIjRIIADAAgGGJkwQAEDIA+kVBmg5EmKKle2RGgS5ceYH2cKDFDwJkiKOgfwtAkTAAEBQXkaFPAxZNKTMVPmdGmgotUDT1FGjZl0pNevJDGKTRgQADs=) !important;
}
.x-factor-icon {
	background-image: url(data:image/gif;base64,R0lGODdhEAAQAOMKABVj0wt1zSeD2k6e6Tup6DGt4zut63XR8nLc/ZH2/////////////////////////ywAAAAAEAAQAAAEaFDJSasceBDAAcnDlSRHEAiCeYyhMpAGKgvG2g5HLBA8gdYtwmlXQCAKvhRBAjgRisajLwBgogjGkTFZVQCu2cQW1W0So9JUV3iFIlGBpSt37f0ON9jsnsiTTHABK30XGRsdHxkWixQRADs=);
	background-repeat: no-repeat;
	background-position: left center;
}
.x-share-icon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACPVBMVEUAAAD/98X/enj/3bf/eXj/W2P/4Ln/h4P/m47/ybr/d3X/WWL/eHf/WWT/AAD/P1L/VV7/RFX/cnL/gX3/b3P/aW//bm//hX3/S1f/bGv/nYz/ZGb/hXv/Zmn/f3v/b3P/aG7/bnD/hX3/eHf/WGP/N07/XGP/5bz/mI7/qZf/57v/g37/Zmv/hH7/YWX/////fnj/i4H/ZGf/W2D/Wl//XmH/aGf/amv/W2H/XmH/e3X/YGP/W2D/d3L/YmX/W2D/WF7/V1v/dHD/YmT/XGD/WF7/W1//XWH/WV//V1z/VFn/Vlj/dXL/ZWf/X2T/YWT/YmT/XGD/WF7/XGD/YmT/bmz/f3f/aWr/Y2b/ZWT/////YGP/W2D/Wl//Wl//XWH/Y2X/cG3/XGD/YmT/c2//XGD/YGP/bWz/YGP/W2D/Wl//XWL/X2L/ZWb/////dXL/ZWf/YGT/YWT/Y2X/XGH/WV//V1z/W17/ZWb/enP/aGr/YGT/ZWT/joD/ZWf/XGH/Vlz/V13/W1//WV//Vlz/VFn/Vlj/mIb/Y2X/Wl7/V13/V1v/oYn/XmH/Z2j/W2D/XmH/iX//ZGb/XGD/W2D/XmH/aGf/WF7/WV7/WV7/WV//WV//Wl//WV7/WF7/WV7/WF3/VVv/WF7/WF7/W2D/W2D/WV7/WV//WV//WV//WV7/WV//WV//WV7/W2D/W2D/Wl//Vl3/VFr/WF7/WV7/WF3/Vlv/WV7/WV//WV//WV7/WF7/WV7/WV7///+w/l5ZAAAAl3RSTlMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2Hh+bkvL+S6CX36C0yv9d0OUrX30LPx/NpXDF+dgmW6+cxsGgk+UiYAi/j+/MdmF/GMEvGeI4v4+d2DKAAMX5yBUJ7t4IcqDD5UJgQ5muvhvfH82lcDNZXq3QJzL+S6A2Hh+LkvoHVmUQAAAAFiS0dELyPUIBEAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAAHdElNRQfgBB4VFQcs6iViAAAA60lEQVQY02NggANDI2MTUzM4l5HJ3GL6jJmWUC4zC6uV9azZc+baMDCwsXNwcnHb2tk7zJu/YKEjAw8vH7+Ak7OL6yI3dw9PL28GH18//4DAoMXBIaFh4RGRUQzRMUuWxsbFJyQKCgmLiIqJMyQtW75iZXKKhKQU1PzUVavXrE1L55OWgQpkZK5bn7UhOyc3T1ZOXkFRiSG/oLCouKR0Y1l5RWVVdU0Ug7IKn6pabV19w6bGpuaW1jYGBnUNTS1tnfaOzq7NW7Zu64Z5RVevp3f7jp27bOCe0zfo69+9Z+8EhO8ZJk6aPGXqNAAPbEbW2dFYLQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wNi0wN1QxNTowMjoyMCswOTowMMR9WEYAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDQtMzBUMjE6MjE6MDcrMDk6MDDw3lVGAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: left center;
}
.x-factor-icon>div{
	padding-left: 16px;
}
.x-grid-row-group .x-grid-cell, .x-grid-row-group .x-grid-rowwrap-div {
	background-color: #E7E7E7;
}
.x-grid-row-over .x-grid-cell, .x-grid-row-over .x-grid-rowwrap-div {
	background-color: #DFE8F6;
}
.x-reference-field .x-form-text, textarea.x-form-field {
	border-color: #F34261;
}
.cookie-wrap {
	padding: 5px;
	background-color: white;
	border-bottom: 1px dotted #09C;
}
.cookie-wrap .cookie {
	width: auto;
	overflow: hidden;
}

.x-grid-view {
    table-layout: auto;
}
div.x-item-over {
	background-color: #BBB;
}
div.x-item-selected {
	background-color: #0AD;
}
div.x-cost-frame {
	width: 100%;
}
div.x-cost-label {
	width: 56px;
	float: left;
}
div.x-cost-value {
	float: right;
}
div.x-order-ability .x-panel-body, div.x-order-with-ability .x-panel-body {
	font-size: 110%;
	font-weight: bold;
}
div.x-order-with-ability .x-panel-body {
	color: #daa520;
}
table#ps {
	width: 100%;
}
table#ps td {
	border: solid 1px #99BBE8;
	padding: 2px;
	text-align: right;
}
table#ps td#psh {
	background-color: #CBDDF3;
	font-weight: bold;
	text-align: center;
}
table#ps td#ps {
	width: 12%;
	background-color: #CBDDF3;
	padding-top: 5px;
	padding-bottom: 5px;
}
table#ps td#bold {
	font-weight: bold;
}
table#ps td#high {
	color: #00F;
}
table#ps td#high {
	color: #00F;
}
table#ps td#low {
	color: #F00;
}
#rarity-blue {
	color: #23A3D4;
}
#rarity-green {
	color: #2CDF2C;
}
#rarity-red {
	color: #F93500;
}
#rarity-yellow {
	color: #FFF383;
}

/* Custom gridview */
.zi-soul .x-grid-cell, .zi-soul .x-grid-rowwrap-div {
	background-color: #77bbff !important;
}
.ef-soul .x-grid-cell, .ef-soul .x-grid-rowwrap-div {
	background-color: #d0e2bc !important;
}
/* Slot Locked */
.slot-grid-locked .x-panel-header-text-default {
	color: #c90440;
}
/* override */
.x-tool-expand-top, .x-tool-collapse-top, .x-tool-over .x-tool-expand-top, .x-tool-over .x-tool-collapse-top {
	background-position: 0 0;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIcAAHZ0aXFxcXNzc3R0dLZ5AJSEP5CIdMqVAM+fF9WmBdijAd6rAN+sANqrC9ShGtWkG9alHNimHNimHd22A9KlI9mnINerNd+6LuGtAOe0AOi0AOi1AOu3APC9AM+rT+DEDfTAAPXCAPrJAPzJAP/LCfLHHv/RAP/SAP/XAPrbAPvVEP/YGuvNPPLXKPHXLvPYJ/ffK//XJvbSM/bTNPnXN//kAP/mAP/rAPzwAP/8AP/+AP//AP/yOP/+N///Of//OuPJQvrbRf/eRebLef/rTf/vU///Q///U//uYv//ZoODg4SEhIaGhoeHh4iIiI2NjY+QkpGRkZSUlJmZmZubm56enp+fn4mRr5yepaCgoKGhoaSkpKSkpaampqenp6ioqLCwsLGxsb+/v+rauv//kP//vcvLy8zMzNzd5vnr0P//x///yP//yf//zeLi4uPj5vv15/Ly8vPz8/b29vf39///8Pn5+f7+/v///v///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAMAAHkALAAAAAAQABAAAAioAPMIHEiwoEGCYqZI+XKQ4BkqT5hkadJQIBgnAsNE8dLwDZclA7coaYgGC5SBXQYMJJPkCI8YF64YSCPQSgCBRRAQoIGEyAwABSoIrCJAoIoVJIQEkVEiwQEJAs1oEQijTQ8cKUSA4IAhgsEXa37osHEihIYFEAy2UOMjRw0TITIweGDQBZsfbuFuwODAIIsyRnbcQDGigwILB4cA+TChAQUPYypKHhgQADs=) !important;
}
.x-tool-expand-bottom, .x-tool-collapse-bottom, .x-tool-over .x-tool-expand-bottom, .x-tool-over .x-tool-collapse-bottom {
	background-position: 0 0;
	background-image: url(data:image/gif;base64,R0lGODlhEAAQAIcAAE9SW2hZQGxubmdpcGpsc29wdHN1end3fG5xgIduF7iIDL6NCb+NCKiPUMGPC8KQC8aUC8uXAc6ZAMycCsmaF9OfAcieMM2hB86mDN2qAN6rAN+sANqqCt61Gdi1N965N+KuAOm1AOm2AOy4AOCzFOO3GuG/I+G/JuC6KM+mRNiwSdKwV+fCF+vGH+/LGvbDAPnEAP/TAP/VAP/ZAOTBI+XEIuvIMuvKO+vYN//nAP/rAP/uAP/8AP//AP/mOv/nPufTUf/nSv/vRf/sW///Q///Rv//TIGBhIaIjIqLjpCQk5eXl5iYmJmZmbKmhKenp6qqqrq5qbm4tb6+vry9wujRjP//q9bW1tnZ2dvb297f5v//w///xf//xv//yuPj4+zs7P/+5PPz8/b29v379P/99/j4+P/9+P/++Pz8/P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAMAAGoALAAAAAAQABAAAAiYANUIHEiwoEE1WaZAeYLl4MAvSQwcOMLkikM1SpAIBLOkyUUCBKkUcKgFAUEpAw5uiSIAxw0bLZwAUGHwR4MAQIYE8YEigQKDLIS46FCCBIcKEiAYrOGlSA8dMmCM0PDAIA0uRHjkiPFCRAYHBk1g1crV6wKDJ7pk3dp1AwODH6wY6bFjRggQEVIcrOIBw4UJFCysuEhYTUAAOw==)!important;
}
/* FC2 */
#ad_cloud_overlay_space {
	top: auto !important;
	bottom: 0px !important;
}
