build/*
app/*
.vs/*
classic/*
ext/*
extjs/*
PSO2 Affixing Simulator_files/*
sass/*
resources/*
modern/*
app.js
app.json
bootstrap.css
bootstrap.js
classic.json
classic.jsonp
lzbase62.min.js
modern.json
modern.jsonp
workspace.json
build.xml
Split Special Tab Proposal.txt
PSO2 Affixing Simulator.html
update.zip
update/*
api_key_include.js
.gitignore
